h1 {
	color:red;
}
.new{
	height: 100px;
	width: 110px;
	background-color: blue;
	margin-bottom: 100px;
	color: #ffffff;

}
span{color:red;}
h2{background-color: green;
	color:#ffffff;


}
div{
	height:70px;
	background: green;
	padding:10px;

}
a{color:blue;

}
li
{ border: 1px solid black;


}